@CHARSET "UTF-8";
.toolbar{border:1px solid #95B8E7;background-color: #E0ECFF;height:28px;padding:2px 0 0 5px;}
.form-table{width: 100%;border-collapse:collapse;border:none;}
.form-table td{border: 1px solid #95B8E7;padding:5px;}